<!DOCTYPE html>
<html lang="en"
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org">
<div id="generatedQRContent" class="container center">
	<br/>
	<div class="row center">
		<div class="offset1 span3 right paddingtop">Selected networks:</div> 
		<div class="span5 input-append left">
			<input id="sharedNetworksList" class="input-xlarge" type="text"></input>
			<span class="add-on btn">Change</span>
		</div>
	</div>
	<br/>
	<div class="row center">
		<div class="offset1 span3 right paddingtop">Generated Getlink URL:</div>
		<div class="span8 left paddingtop">
			<a class="generatedQRLink" target="_blank">
			</a>
		</div> 
	</div>
	<br/>
	<div class="row center">
		<div><strong>Scan this QR code</strong></div>
		<div>
			<a class="generatedQRLinkWithPicture" target="_blank">
				<img id="generatedQR" class="img-rounded" 
					src="http://placehold.it/200x200"></img>
			</a>
		</div>	
	</div>
	<strong>Or</strong><br/>
	<div class="row center">
		<div class="offset1 span3 right paddingtop">Share by email(s):</div> 
		<div class="span5 left">
			<input id="sharedNetworksList" 
				class="input-xlarge" type="text" 
				placeholder="foo.bar@example.com,bob@gmail.com,..."
				rel="tooltip" title="foo.bar@example.com,bob@gmail.com,..."></input>
		</div>
	</div>
	<br/><br/>
	<div class="row center">
		<div class="offset1 span3 right paddingtop">Share by SMS(s):</div> 
		<div class="span5 left">
			<input id="sharedNetworksList" 
				class="input-xlarge" type="text" 
				placeholder="+33111111111,0611111111,..."
				rel="tooltip" title="+33111111111,0611111111,..."></input>
		</div>
	</div>
	<br/><strong>Invitation message</strong><br/>
	<div class="row center">
		<div class="offset2 span7">
			<textarea rows="7" class="input-xxlarge" rel="tooltip" title="Type your invitation message here">Hi pals! I would like to share with your my networks
			</textarea>
		</div>
		<div class="span2">
			<button id="sendMessageButton" class="btn btn-success btn-block">Send</button>
		</div>
	</div>
					
</div>
</html>