<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<import resource="classpath:getlinks-security.xml"/>
	<import resource="classpath:getlinks-properties.xml"/>
	<import resource="classpath:getlinks-mail.xml"/>
	<import resource="classpath:getlinks-repository.xml"/>
	<import resource="classpath:getlinks-user-registration.xml"/>
</beans>
